<!-- templates/content_page.twig -->
{% extends 'base.twig' %}

{% block title %}Content Page{% endblock %}

{% block content %}
    <div class="left-sidebar">
        {% include 'sidebar.twig' with {'position': 'left'} %}
    </div>
    <div class="main-content">
        <h1>Main Content</h1>
        <p>This is the main content of the page.</p>
    </div>
    <div class="right-sidebar">
        {% include 'sidebar.twig' with {'position': 'right'} %}
    </div>
{% endblock %}
