{% include 'includes/header.twig' %}

<div class="container text-center" id="main-content">
    <div class="row">
        <!-- Left Sidebar -->
        {% include 'includes/sidebar_left.twig' %}

        <!-- Center Content -->
        <div class="col-12 col-lg" id="center-content">
            One of three columns
        </div>

        <!-- Right Sidebar -->
        {% include 'includes/sidebar_right.twig' %}
    </div>
</div>

{% include 'includes/footer.twig' %}