{% include 'includes/header.twig' %}

<div class="container text-center" id="main-content">
    <h1>Discover and Explore the Collection</h1>
    <div class="row">
        <!-- Left Sidebar -->
        {% include 'includes/sidebar_left.twig' %}

        <!-- Center Content -->
        <div class="col-12 col-lg" id="center-content">
            One of three columns
        </div>

    </div>
</div>

{% include 'includes/footer.twig' %}