{% include 'includes/header.twig' %}

<div id="main-content" role="main">

    <div class="col-12" id="homepageTopBanner">
        <div class="image-overlay-container">
            <img src="../images/homepage-top-banner.jpg" alt="Descriptive Alt Text" class="homepage-banner-image">
            <div class="overlay-content">
                <h1>Tell your Story</h1>
                <div class="justify-content-center align-items-center">
                    <a href="#" class="homepage-banner-link">Get Started</a>
                    <p class="homepage-banner-text">Be a part of history</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional content blocks -->
    <div id="homepageSearchCTA" class="col-12 mt-4">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <!-- Central column of medium size 6 -->
                <div class="
                            col-xxl-8
                            col-xl-10
                            col-lg-12
                            col-md-12
                            col-sm-12
                            ">
                    <div class="row">
                        <!-- Text column -->
                        <div class="col-md-6">
                            <h2>Search the collection</h2>
                            <p>See what you can discover about the past</p>
                        </div>

                        <!-- Search form column -->
                        <div class="col-md-6 mt-2">
                            <form class="position-relative">
                                <input type="search" class="form-control" placeholder="Search...">
                                <button type="submit" title="Submit" class="btn position-absolute top-0 end-0 border-0"
                                    style="background: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="homepageCarousel" class="col-12 mt-4">
        <h2 class="text-center pt-3">Items in the spotlight</h2>
        <div class="col-8 row mx-auto my-auto justify-content-center">
            {% include 'includes/components/homepage_carousel.twig' %}
        </div>
    </div>

    <div id="homepageCommunityCTA" class="col-12 mt-4">
        <div class=" m-4">
            <div class="row justify-content-center">
                <!-- Central column of medium size 6 -->
                <div class="col-md-6">
                    <div class="row">
                        <!-- Text column -->
                        <div class="col-md-6">
                            <h3>Discover how can help and support your community group or project.</h3>
                            <button class="btn">Learn More</button>
                        </div>

                        <!-- Search form column -->
                        <div class="col-md-6 mt-1">
                            <img src="../images/pcw-users.png" alt="Descriptive Alt Text" class="homepage-banner-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="homepageBottomCTA" class="col-12 mt-4">
        <div class="image-overlay-container">
            <img src="../images/homepage-bottom-banner.jpg" alt="Descriptive Alt Text" class="homepage-banner-image">
            <div class="overlay-content ">
                <div class="col-10">
                    <h1>Helping organisations celebrate and share cultural heritage.</h1>
                    <p>Explore how People's Collection Wales can help your organisation digitise and share your
                        collections
                        with Wales the world.</p>
                    <button class="btn">Learn More</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'includes/footer.twig' %}