{% include 'includes/header.twig' %}

<div class="container" id="main-content" role="main">

    <div class="row" id="node-metadata-details">
        <h1 class="text-start">Locate</h1>


        <div class="col-12">
            {% include 'includes/metadata/map.twig' %}
        </div>

    </div>


</div>

{% include 'includes/footer.twig' %}