{% include 'includes/header.twig' %}

<div class="container text-center" id="main-content">

    <div class="col-12 shadow rounded" id="profile-banner">
        <div class="row">
            <div class="
                col-xs-12
                col-sm-12
                col-md-12
                col-lg-10
                col-xl-10
                col-xxl-10
                d-flex 
                flex-column" id="profile-page-bio">
                <h1 class="text-start">Wales for Peace</h1>
                <p class="text-start mt-2">
                    'Wales for Peace' brings together digitised archives and collections relating
                    to Wales' long history of internationalist activism and peace building from pre-WW1 to the
                    present day. Curated through Wales' Temple of Peace by 'WCIA's Peace Heritage' work between the
                    Welsh Centre for International Affairs and partners, collections are organised into eras,
                    organisations, campaign movements and individual campaigns / archival collections. Visit
                    'www.heddwch.cymru ' to find out more about the 'stories behind the archives' from our nation's
                    peace heritage - and use the following 'quick links' to explore collections and albums of
                    interest:
                </p>
            </div>

            <div class="
                col-xs-12
                col-sm-12
                col-md-12
                col-lg-2
                col-xl-2
                col-xxl-2
                d-flex 
                flex-column 
                align-items-center 
                justify-center">
                <img src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-8498-1458562969.png?itok=VBD55WMH"
                    alt="Profile Picture">
                <button class="btn btn-success mt-2">Follow <span class="follow-user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-add" viewBox="0 0 16 16">
                            <path
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                        </svg>
                    </span></button>
            </div>
        </div>

        <div class="col text-start mt-2" id="profile-weblink"><strong>Website:</strong> <a href="#"
                class="">https://www.peoplescollection.wales</a></div>
    </div>

    {% if page != 'profile' %}
    <h1 class="text-start">Discover and Explore the Collection</h1>
    {% endif %}

    <div class="row">
        <!-- Left Sidebar -->
        {% include 'includes/sidebar_left.twig' %}

        <!-- Center Content -->
        {% include 'includes/discover_items.twig' %}
    </div>

    <!-- Pagination -->
    {% include 'includes/pagination.twig' %}
</div>

{% include 'includes/footer.twig' %}