<!-- <div class="row" id="node-metadata-details">
    <h2 class="text-start" id="item-informatio-heading">Collection Information</h2>
    <ul class="list-group text-start metadata-info-list">
        <li class="list-group-item"><span class="metadata-info-title">Creator:</span> <a href="#">Unknown</a></li>
        <li class="list-group-item"><span class="metadata-info-title">Owner:</span> <a href="#">Newport Museum & Art
                Gallert</a></li>
        <li class="list-group-item"><span class="metadata-info-title">Copyright Details:</span> Example Copyright
            Details
        </li>
        <li class="list-group-item"><span class="metadata-info-title">Licence Information:</span> Creative Archive
            Licence
        </li>
    </ul>
</div> -->