<div class="container d-flex justify-content-center align-items-center mb-2">
    <div class="row w-100 justify-content-center align-items-stretch">
        <div class="col-12 col-md-4 mb-4">
            <div class="card m-3 shadow h-100">
                <div class="card-body pcw-cta-lower">
                    <h5 class="card-title">Register and tell your story</h5>
                    <ul>
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                    </ul>
                    <a href="#" class="btn mt-3 w-100">Tell your story</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card m-3 shadow h-100">
                <div class="card-body pcw-cta-lower">
                    <h5 class="card-title">Report Item</h5>
                    <p>
                        Contact us to request takedown or report racist, offensive or otherwise harmful content.
                    </p>
                    <a href="#" class="btn mt-3 w-100">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>