<div class="col-12 col-md-10 col-lg-8 text-start item-map">
    <div id="map"></div>
</div>

<div class="row row-cols-auto">
    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer layer-button-active"
            id="map-layer-google">
            <p class="map-button-date">2024</p>
            <p class="map-button-type">Modern Map</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-tithe">
            <p class="map-button-date">1838-1850</p>
            <p class="map-button-type">Tithe Map</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-1staddition">
            <p class="map-button-date">1868-1892</p>
            <p class="map-button-type">1st Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-2ndaddition">
            <p class="map-button-date">1899-1908</p>
            <p class="map-button-type">2nd Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-3rdaddition">
            <p class="map-button-date">1920-1932</p>
            <p class="map-button-type">3rd Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-4thaddition">
            <p class="map-button-date">1938-1954</p>
            <p class="map-button-type">4th Edition</p>
        </div>
    </div>
</div>