<div class="row">
    <div class="col-12 col-md-10 col-lg-8 text-start item-map">
        <div id="map"></div>
    </div>

    <div class="col-12 text-start mt-1">
        <button class="btn btn-success mb-2 historical-map-layer rounded-pill" id="map-layer-google">Default
            Map Layer</button>
        <button class="btn mb-2 map-layer-button map-layer-button historical-map-layer rounded-pill"
            id="map-layer-1staddition">1st
            Edition
            (1868-1892)</button>
        <button class="btn mb-2 map-layer-button map-layer-button historical-map-layer rounded-pill"
            id="map-layer-2ndaddition">2nd
            Edition
            (1899-1908)</button>
        <button class="btn mb-2 map-layer-button map-layer-button historical-map-layer rounded-pill"
            id="map-layer-3rdaddition">3rd
            Edition
            (1920-1932)</button>
        <button class="btn mb-2 map-layer-button map-layer-button historical-map-layer rounded-pill"
            id="map-layer-4thaddition">4th
            Edition
            (1938-1954)</button>
        <button class="btn mb-2 map-layer-button map-layer-button historical-map-layer rounded-pill"
            id="map-layer-tithe">Tithe</button>
    </div>
</div>