<div class="row">
    <div class="col-12 text-start item-map">
        <img src="../map.png" alt="Example Google Maps" style="height: 100%; width: 50%;" />
    </div>

    <div class="col-12 text-start mt-1">
        <button class="btn btn-success me-2 mb-2">Map</button>
        <button class="btn btn-light me-2 mb-2 action-button">1st Edition (1868-1892)</button>
        <button class="btn btn-light me-2 mb-2 action-button">2nd Edition (1899-1908)</button>
        <button class="btn btn-light me-2 mb-2 action-button">3rd Edition (1920-1932)</button>
        <button class="btn btn-light me-2 mb-2 action-button">4th Edition (1938-1954)</button>
        <button class="btn btn-light mb-2 action-button">Tithe</button>
    </div>
</div>