{% if page == 'item' %}
<div class="col-12 col-md-10 col-lg-8 text-start item-map">
    <div id="map" data-map-type="item"></div>
</div>
{% endif %}

{% if page == 'edit' %}
<div class="card-body p-0">
    <div class="mb-2">
        <label for="contributeMapSearch" class="form-label fs-6">
            Enter a city, town or village name here or use the +/- buttons on the map:
        </label>
        <div class="row">
            <div class="col-10">
                <input type="text" class="form-control" id="contributeMapSearch">
            </div>
        </div>
    </div>
</div>

<div class="col-12 text-start item-map">

    <button id="contributeMapDropPin" type="button" class="btn btn-outline-primary mb-2">Drop pin <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg></button>

    <button id="contributeRemoveMarker" type="button" class="btn btn-outline-primary mb-2 d-none">Remove location <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
            <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
        </svg></button>

    <div id="map" data-map-type="contribute"></div>
</div>
{% endif %}

<div class="row row-cols-auto">
    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer layer-button-active"
            id="map-layer-google">
            <p class="map-button-date">2024</p>
            <p class="map-button-type">Modern Map</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-tithe">
            <p class="map-button-date">1838-1850</p>
            <p class="map-button-type">Tithe Map</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-1staddition">
            <p class="map-button-date">1868-1892</p>
            <p class="map-button-type">1st Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-2ndaddition">
            <p class="map-button-date">1899-1908</p>
            <p class="map-button-type">2nd Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-3rdaddition">
            <p class="map-button-date">1920-1932</p>
            <p class="map-button-type">3rd Edition</p>
        </div>
    </div>

    <div class="col map-layer-buttons">
        <div class="mb-2 map-layer-button map-layer-button historical-map-layer" id="map-layer-4thaddition">
            <p class="map-button-date">1938-1954</p>
            <p class="map-button-type">4th Edition</p>
        </div>
    </div>
</div>