<div class="row">
    <div class="col-12 text-start">
        <span class="d-inline-block heading-underline tags-heading">Tags</span>
    </div>
    <div class="col-12 text-start mt-2">
        <!-- list of bootstrap buttons -->
        <a href="#" class="btn tag-button me-2 mb-2">Bridge (300)</a>
        <a href="#" class="btn tag-button me-2 mb-2">Gallery (1,200)</a>
        <a href="#" class="btn tag-button me-2 mb-2">Education (987)</a>
        <a href="#" class="btn tag-button me-2 mb-2">Museum (12,343)</a>
        <a href="#" class="btn tag-button me-2 mb-2">Travel (12)</a>
        <a href="#" class="btn tag-button me-2 mb-2">Newport (452)</a>
    </div>

    <div class="col-12 text-start mt-2">
        <span class="d-inline-block heading-underline facets-heading">Topics</span>
    </div>
    <div class="col-12 text-start mt-2">
        <!-- list of bootstrap buttons -->
        <a href="#" class="btn facet-button me-2 mb-2">Food and Drink (900)</a>
        <a href="#" class="btn facet-button me-2 mb-2">Cities, Town and Villages (12,000)</a>
        <a href="#" class="btn facet-button me-2 mb-2">Customs and Practices (49)</a>
    </div>
</div>