<div class="container">
    <div class="row d-flex flex-column flex-md-row align-items-center align-items-md-start">
        <div class="col-12 col-md-auto mb-3 mb-md-0">
            <img src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-1437-1408452057.jpg?itok=1fpTRNr8"
                alt="User profile image" style="max-width: 100%; height: auto;">
        </div>

        <div class="col-12 col-md d-flex flex-column flex-md-row">
            <div class="col-12 col-md-4 mb-3 mb-md-0 text-start" id="uploader-details">
                <h3 class="content-uploader">Uploaded by <a href="#">Newport Museum & Art Gallery</a> on 05/05/2016</h3>
                <p>1,088 views</p>
                <p>7 Favourites</p>
                <button type="button" class="btn btn-success">
                    Follow <span class="follow-user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-add" viewBox="0 0 16 16">
                            <path
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                        </svg>
                    </span>
                </button>
            </div>

            <div class="col-12 col-md-6">
                {% if page == 'collection' %}
                {% include 'includes/metadata/collection_info.twig' %}
                {% elseif page == 'item' %}
                {% include 'includes/metadata/item_info.twig' %}
                {% elseif page == 'story' %}
                {% include 'includes/metadata/story_info.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>