<!-- templates/base.twig -->
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Casgliad y Werin</title>
    <script defer="defer" src="../main.js"></script>
    <link href="../main.css" rel="stylesheet">
</head>

<body>
    {% include 'includes/nav.twig' %}