<nav class="container px-4 text-center navbar navbar-expand-lg" id="header-nav" role="navigation">
    <div class="row w-100 h-100">

        <div class="
            col-xs-12
            col-sm-12
            col-md-12 
            col-lg-4
            col-xl-4
            col-xxl-4
            d-flex             
            justify-content-center
            justify-content-xs-center
            justify-content-sm-center
            justify-content-md-center
            justify-content-lg-start
            justify-content-xl-start
            justify-content-xxl-start
            mb-2
            ">

            {% include 'includes/svg.twig' %}
        </div>


        <div class="
            col-xs-12
            col-md-12
            col-lg-8
            col-xl-8
            col-xxl-8
            d-flex 
            flex-column 
            justify-content-between">
            <div class="row">


                <div class="
                    col-12
                    d-flex 
                    justify-content-center
                    justify-content-xs-center
                    justify-content-sm-center 
                    justify-content-md-center 
                    justify-content-lg-end
                    ">
                    <ul class="navbar-nav d-flex flex-row" id="top-nav-links">
                        <li class="nav-item top-right-nav">
                            <!-- <a class="nav-link active" aria-current="page" href="#">Cymraeg</a> -->
                            <a class="nav-link active" aria-current="page" href="#">Seasneg</a>
                        </li>
                        <li class="nav-item top-right-nav">
                            <!-- <a class="nav-link" href="#" id="sign-in-button">Sign in</a> -->
                            <a class="nav-link" href="#" id="sign-in-button">Mewngofnodi</a>
                        </li>
                        <li class="nav-item top-right-nav">
                            <!-- <a class="btn btn-dark" href="#" role="button">Register</a> -->
                            <a class="btn btn-dark" href="#" role="button">Cofrestru</a>
                        </li>
                    </ul>
                    <button id="top-nav-hamburger" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".pcw-nav-menu" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>


            <div class="row">
                <div class="col-12 collapse navbar-collapse pcw-nav-menu">
                    <ul class="navbar-nav flex-column flex-sm-row justify-content-center text-center" id="main-nav">
                        <li class="nav-item" id="nav-about">
                            <a class="nav-link nav-active text-sm-start" aria-current="page" href="#">Amdanom Ni</a>
                        </li>
                        <li class="nav-item" id="nav-upload">
                            <a class="nav-link text-sm-start" href="#">Rhannu</a>
                        </li>
                        <li class="nav-item" id="nav-discover">
                            <a class="nav-link text-sm-start" href="#">Y Casgliad</a>
                        </li>
                        <li class="nav-item" id="nav-locate">
                            <a class="nav-link text-sm-start" href="#">Mapiau</a>
                        </li>
                        <li class="nav-item" id="nav-learn">
                            <a class="nav-link text-sm-start" href="#">Addysg</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="row" id="nav-lower">
            <div class="col-6 pcw-nav-menu collapse navbar-collapse ">
                <nav aria-label="breadcrumb" id="header-breadcrumb" class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>

            <div class="col-6 pcw-nav-menu collapse navbar-collapse">
                <form class="
                d-flex 
                justify-content-xs-end
                justify-content-sm-end
                justify-content-md-end
                justify-content-lg-end
                justify-content-xl-end
                justify-content-xxl-end
                ms-auto
                " id="top-nav-search-form">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        id="nav-search" />
                    <button class="btn btn-secondary" type="submit" aria-label="Site Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </form>
            </div>

        </div>

    </div>
</nav>