<nav class="mt-1 navbar navbar-expand-lg container" id="header-nav" role="navigation">
    <span class="svg-xml">
        <svg width="0" height="0" class="hidden">
            <symbol viewBox="0 0 0 0" id="sprite-logo">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.53 57.77" id="logo">
                    <path
                        d="M9 30.39l2.38.76a5.34 5.34 0 0 1-1.82 3 5.2 5.2 0 0 1-3.23 1 5.23 5.23 0 0 1-4-1.66 6.34 6.34 0 0 1-1.52-4.6 6.65 6.65 0 0 1 1.57-4.72 5.38 5.38 0 0 1 4.12-1.68 5.06 5.06 0 0 1 3.63 1.32 4.8 4.8 0 0 1 1.24 2.24l-2.43.58a2.51 2.51 0 0 0-2.56-2 2.77 2.77 0 0 0-2.2 1 4.76 4.76 0 0 0-.84 3.15A5.1 5.1 0 0 0 4.17 32a2.7 2.7 0 0 0 2.16 1A2.46 2.46 0 0 0 8 32.35a3.62 3.62 0 0 0 1-1.96zm5.46-1.65l-2.12-.38a3.3 3.3 0 0 1 1.23-1.89 4.49 4.49 0 0 1 2.59-.61 5.58 5.58 0 0 1 2.32.37 2.32 2.32 0 0 1 1.07.94 4.81 4.81 0 0 1 .31 2.09v2.72a9.45 9.45 0 0 0 .14 1.7 5 5 0 0 0 .42 1.18h-2.35q-.09-.23-.22-.69c0-.14-.07-.23-.08-.27a4.21 4.21 0 0 1-1.28.87 3.66 3.66 0 0 1-1.45.29 3 3 0 0 1-2.15-.74 2.46 2.46 0 0 1-.78-1.87 2.51 2.51 0 0 1 .36-1.33 2.33 2.33 0 0 1 1-.9 7.8 7.8 0 0 1 1.85-.54 12.67 12.67 0 0 0 2.27-.57v-.23a1.21 1.21 0 0 0-.33-1 2 2 0 0 0-1.26-.24 1.67 1.67 0 0 0-1 .24 1.7 1.7 0 0 0-.54.86zm3.12 1.89a14.53 14.53 0 0 1-1.42.36 4.27 4.27 0 0 0-1.27.41 1 1 0 0 0-.46.82 1.14 1.14 0 0 0 .37.85 1.28 1.28 0 0 0 .93.36 2 2 0 0 0 1.2-.41 1.46 1.46 0 0 0 .56-.77 4.6 4.6 0 0 0 .09-1.14zm2.98 1.72L22.9 32a1.72 1.72 0 0 0 .61 1 2 2 0 0 0 1.28.35 2.31 2.31 0 0 0 1.36-.35.74.74 0 0 0 .31-.62.61.61 0 0 0-.17-.44 1.86 1.86 0 0 0-.78-.31 12.58 12.58 0 0 1-3.58-1.14 2.27 2.27 0 0 1-1-2 2.44 2.44 0 0 1 .9-1.93 4.22 4.22 0 0 1 2.8-.78 4.89 4.89 0 0 1 2.69.59 3 3 0 0 1 1.21 1.74l-2.2.41a1.36 1.36 0 0 0-.54-.79 2 2 0 0 0-1.12-.27 2.53 2.53 0 0 0-1.32.26.55.55 0 0 0-.27.47.52.52 0 0 0 .23.42 8.76 8.76 0 0 0 2.18.66 6.48 6.48 0 0 1 2.6 1 2.16 2.16 0 0 1 .73 1.73 2.66 2.66 0 0 1-1 2.08 4.48 4.48 0 0 1-3 .87 4.92 4.92 0 0 1-2.85-.73 3.36 3.36 0 0 1-1.41-1.87zm9.28 3.1l2.66.32a.91.91 0 0 0 .31.64 1.75 1.75 0 0 0 1 .25 2.72 2.72 0 0 0 1.37-.27 1.13 1.13 0 0 0 .46-.59 3.54 3.54 0 0 0 .11-1.07v-1.29a3.16 3.16 0 0 1-2.64 1.43 3.25 3.25 0 0 1-2.81-1.5 5.11 5.11 0 0 1-.81-3A4.86 4.86 0 0 1 30.6 27a3.44 3.44 0 0 1 2.65-1.17 3.23 3.23 0 0 1 2.7 1.44v-1.22h2.18V34a7.89 7.89 0 0 1-.26 2.33 2.89 2.89 0 0 1-.72 1.21 3.19 3.19 0 0 1-1.24.69 6.53 6.53 0 0 1-2 .25 5.08 5.08 0 0 1-3.18-.77 2.41 2.41 0 0 1-.94-1.95c.04-.11.04-.2.05-.31zm2.08-5.17a3.18 3.18 0 0 0 .54 2.05 1.68 1.68 0 0 0 1.34.67 1.85 1.85 0 0 0 1.44-.67 2.91 2.91 0 0 0 .59-2 3.09 3.09 0 0 0-.56-2 1.79 1.79 0 0 0-1.43-.66 1.72 1.72 0 0 0-1.38.65 3.06 3.06 0 0 0-.54 1.96zm7.73 4.58V22.7H42v12.16zm3.94-10V22.7h2.33v2.16zm0 10v-8.81h2.33v8.81zm5.69-6.12l-2.12-.38a3.3 3.3 0 0 1 1.23-1.89 4.49 4.49 0 0 1 2.61-.62 5.58 5.58 0 0 1 2.32.37 2.32 2.32 0 0 1 1.07.94 4.81 4.81 0 0 1 .31 2.09v2.72a9.45 9.45 0 0 0 .11 1.71 5 5 0 0 0 .42 1.18h-2.34q-.09-.23-.22-.69-.06-.21-.08-.27a4.21 4.21 0 0 1-1.28.87 3.66 3.66 0 0 1-1.45.29 3 3 0 0 1-2.15-.74 2.46 2.46 0 0 1-.78-1.87 2.51 2.51 0 0 1 .36-1.33 2.33 2.33 0 0 1 1-.9 7.8 7.8 0 0 1 1.85-.54 12.67 12.67 0 0 0 2.27-.57v-.23a1.21 1.21 0 0 0-.33-1 2 2 0 0 0-1.25-.29 1.67 1.67 0 0 0-1 .24 1.7 1.7 0 0 0-.55.91zm3.12 1.89A14.53 14.53 0 0 1 51 31a4.27 4.27 0 0 0-1.27.41 1 1 0 0 0-.46.82 1.14 1.14 0 0 0 .37.85 1.28 1.28 0 0 0 .93.36 2 2 0 0 0 1.2-.41 1.46 1.46 0 0 0 .56-.77 4.6 4.6 0 0 0 .09-1.14zm11.89 4.23h-2.17v-1.29a3.5 3.5 0 0 1-1.27 1.12 3.27 3.27 0 0 1-1.48.37 3.36 3.36 0 0 1-2.6-1.22 5 5 0 0 1-1.08-3.41A4.92 4.92 0 0 1 56.74 27a3.44 3.44 0 0 1 2.66-1.17 3.3 3.3 0 0 1 2.6 1.25V22.7h2.33zm-6.22-4.6a4 4 0 0 0 .39 2 1.76 1.76 0 0 0 1.58.91 1.72 1.72 0 0 0 1.37-.68 3.16 3.16 0 0 0 .56-2 3.46 3.46 0 0 0-.55-2.19 1.73 1.73 0 0 0-1.4-.67 1.75 1.75 0 0 0-1.39.66 3 3 0 0 0-.57 1.98zm10.57-4.21h2.48l2.11 6.26 2.06-6.26h2.41l-3.11 8.48-.59 1.54a6.24 6.24 0 0 1-.59 1.18 2.56 2.56 0 0 1-.64.66 2.79 2.79 0 0 1-.89.39 4.6 4.6 0 0 1-1.19.14 6.17 6.17 0 0 1-1.32-.14l-.21-1.83a5.17 5.17 0 0 0 1 .11 1.46 1.46 0 0 0 1.2-.48 3.31 3.31 0 0 0 .6-1.22zm15.46 8.81L81.19 22.7h2.51l1.83 8.36 2.22-8.36h2.92l2.13 8.5 1.87-8.5h2.47l-3 12.17H91.6l-2.42-9.1-2.42 9.1zm18.31-2.8l2.32.39a3.81 3.81 0 0 1-1.41 1.95 4.16 4.16 0 0 1-2.42.67 3.94 3.94 0 0 1-3.4-1.5 5 5 0 0 1-.87-3 4.87 4.87 0 0 1 1.15-3.43 3.77 3.77 0 0 1 2.9-1.24 3.91 3.91 0 0 1 3.1 1.3 5.75 5.75 0 0 1 1.09 4H99a2.36 2.36 0 0 0 .56 1.61 1.77 1.77 0 0 0 1.34.58 1.43 1.43 0 0 0 .92-.3 1.85 1.85 0 0 0 .59-1.03zm.13-2.36a2.25 2.25 0 0 0-.52-1.54 1.6 1.6 0 0 0-1.21-.53 1.62 1.62 0 0 0-1.26.56 2.15 2.15 0 0 0-.49 1.51zm5.67 5.16h-2.33v-8.81H108v1.25a3.76 3.76 0 0 1 1-1.17 1.84 1.84 0 0 1 1-.28 3 3 0 0 1 1.54.44l-.72 2a2 2 0 0 0-1.1-.38 1.3 1.3 0 0 0-.83.27 1.84 1.84 0 0 0-.54 1 13.86 13.86 0 0 0-.2 3zm3.6-10V22.7h2.33v2.16zm0 10v-8.81h2.33v8.81zm11.96 0h-2.33v-4.5a7 7 0 0 0-.15-1.85 1.3 1.3 0 0 0-.49-.65 1.39 1.39 0 0 0-.81-.23 1.87 1.87 0 0 0-1.09.33 1.67 1.67 0 0 0-.66.88 7.6 7.6 0 0 0-.18 2v4h-2.33v-8.79h2.17v1.29a3.61 3.61 0 0 1 4.32-1.22 2.37 2.37 0 0 1 1 .71 2.57 2.57 0 0 1 .46 1 7.27 7.27 0 0 1 .13 1.57zm13.32-4.47l2.38.76a5.34 5.34 0 0 1-1.82 3 5.73 5.73 0 0 1-7.22-.69 6.34 6.34 0 0 1-1.56-4.53 6.65 6.65 0 0 1 1.57-4.72 5.38 5.38 0 0 1 4.12-1.68 5.06 5.06 0 0 1 3.63 1.32 4.8 4.8 0 0 1 1.24 2.24l-2.43.58a2.51 2.51 0 0 0-2.56-2 2.77 2.77 0 0 0-2.2 1 4.76 4.76 0 0 0-.84 3.15 5.1 5.1 0 0 0 .83 3.29 2.7 2.7 0 0 0 2.16 1 2.46 2.46 0 0 0 1.68-.62 3.62 3.62 0 0 0 1.02-2.1zm2.59-4.34h2.48l2.11 6.26 2.06-6.26h2.42l-3.11 8.48-.56 1.54a6.24 6.24 0 0 1-.59 1.18 2.56 2.56 0 0 1-.64.66 2.79 2.79 0 0 1-.89.39 4.6 4.6 0 0 1-1.19.14 6.17 6.17 0 0 1-1.32-.14l-.21-1.83a5.17 5.17 0 0 0 1 .11 1.46 1.46 0 0 0 1.2-.48 3.31 3.31 0 0 0 .6-1.22zm9.6 0h2.15v1.2a3.46 3.46 0 0 1 2.75-1.4 3 3 0 0 1 1.47.35 2.68 2.68 0 0 1 1 1.05 4.07 4.07 0 0 1 1.25-1.05 3.07 3.07 0 0 1 1.44-.35 3.2 3.2 0 0 1 1.64.39 2.41 2.41 0 0 1 1 1.16 5 5 0 0 1 .24 1.83v5.64h-2.33v-5a3.74 3.74 0 0 0-.24-1.69 1.1 1.1 0 0 0-1-.5 1.59 1.59 0 0 0-.92.3 1.66 1.66 0 0 0-.62.88 6.29 6.29 0 0 0-.19 1.82v4.23h-2.33V30a6.7 6.7 0 0 0-.12-1.66 1.06 1.06 0 0 0-.39-.56 1.22 1.22 0 0 0-.71-.18 1.7 1.7 0 0 0-1 .29 1.59 1.59 0 0 0-.62.84 6.23 6.23 0 0 0-.19 1.82v4.28h-2.33zM166 34.86h-2.33v-8.81h2.17v1.25a3.76 3.76 0 0 1 1-1.17 1.84 1.84 0 0 1 1-.28 3 3 0 0 1 1.54.44l-.72 2a2 2 0 0 0-1.1-.38 1.3 1.3 0 0 0-.83.27 1.84 1.84 0 0 0-.54 1 13.86 13.86 0 0 0-.2 3zm9.42 0v-1.31a3.4 3.4 0 0 1-1.27 1.11 3.55 3.55 0 0 1-1.66.41 3.24 3.24 0 0 1-1.59-.39 2.31 2.31 0 0 1-1-1.1 4.89 4.89 0 0 1-.32-2v-5.53h2.33v4a11.23 11.23 0 0 0 .13 2.28 1.24 1.24 0 0 0 .47.66 1.44 1.44 0 0 0 .86.24 1.83 1.83 0 0 0 1.07-.33 1.67 1.67 0 0 0 .65-.81 9.44 9.44 0 0 0 .17-2.38v-3.66h2.33v8.81z"
                        fill="#3e3e3e"></path>
                    <path
                        d="M1.24 54.41V42.25h3.94a14.31 14.31 0 0 1 2.92.18 3.19 3.19 0 0 1 1.75 1.19 3.78 3.78 0 0 1 .71 2.38 4 4 0 0 1-.41 1.88 3.33 3.33 0 0 1-1 1.2 3.56 3.56 0 0 1-1.27.58 14 14 0 0 1-2.55.17H3.69v4.59zM3.69 44.3v3.45H5a6.35 6.35 0 0 0 2-.18 1.61 1.61 0 0 0 .77-.6A1.63 1.63 0 0 0 8 46a1.57 1.57 0 0 0-.39-1.1 1.7 1.7 0 0 0-1-.54 11.84 11.84 0 0 0-1.77-.08zm13.51 7.31l2.32.39a3.81 3.81 0 0 1-1.41 1.95 4.16 4.16 0 0 1-2.42.67 3.94 3.94 0 0 1-3.4-1.5 5 5 0 0 1-.87-3 4.87 4.87 0 0 1 1.15-3.43 3.77 3.77 0 0 1 2.9-1.24 3.91 3.91 0 0 1 3.1 1.3 5.75 5.75 0 0 1 1.09 4h-5.85a2.36 2.36 0 0 0 .56 1.61 1.77 1.77 0 0 0 1.34.58 1.43 1.43 0 0 0 .92-.3 1.85 1.85 0 0 0 .57-1.03zm.13-2.36a2.24 2.24 0 0 0-.52-1.54 1.68 1.68 0 0 0-2.47 0 2.15 2.15 0 0 0-.49 1.51zm3.22.63a4.77 4.77 0 0 1 .57-2.25A3.93 3.93 0 0 1 22.75 46a4.81 4.81 0 0 1 2.34-.57 4.4 4.4 0 0 1 3.28 1.3A4.49 4.49 0 0 1 29.65 50a4.54 4.54 0 0 1-1.29 3.32 4.36 4.36 0 0 1-3.25 1.32 5.12 5.12 0 0 1-2.31-.55 3.76 3.76 0 0 1-1.67-1.61 5.35 5.35 0 0 1-.58-2.6zm2.39.12a2.92 2.92 0 0 0 .62 2 2 2 0 0 0 3.07 0 3 3 0 0 0 .62-2 2.91 2.91 0 0 0-.62-2 2 2 0 0 0-3.07 0 2.92 2.92 0 0 0-.62 2zm8.01-4.4h2.17v1.29a3.25 3.25 0 0 1 1.15-1.08 3.16 3.16 0 0 1 1.6-.41 3.36 3.36 0 0 1 2.61 1.2 4.87 4.87 0 0 1 1.07 3.4 5 5 0 0 1-1.08 3.43 3.36 3.36 0 0 1-2.61 1.22 3 3 0 0 1-1.32-.29 4.47 4.47 0 0 1-1.25-1v4.44h-2.34zm2.31 4.26a3.39 3.39 0 0 0 .59 2.2 1.8 1.8 0 0 0 1.44.71 1.68 1.68 0 0 0 1.35-.65 3.36 3.36 0 0 0 .53-2.12 3.19 3.19 0 0 0-.56-2.06 1.72 1.72 0 0 0-1.38-.67 1.79 1.79 0 0 0-1.42.66 2.94 2.94 0 0 0-.56 1.93zm7.68 4.55V42.25h2.33v12.16zm9.36-2.8l2.32.39a3.81 3.81 0 0 1-1.41 1.95 4.16 4.16 0 0 1-2.42.67 3.94 3.94 0 0 1-3.4-1.5 5 5 0 0 1-.87-3 4.87 4.87 0 0 1 1.15-3.43 3.77 3.77 0 0 1 2.9-1.24 3.91 3.91 0 0 1 3.1 1.3 5.75 5.75 0 0 1 1.09 4h-5.85a2.36 2.36 0 0 0 .56 1.61 1.77 1.77 0 0 0 1.34.58 1.43 1.43 0 0 0 .92-.3 1.84 1.84 0 0 0 .57-1.03zm.13-2.36a2.24 2.24 0 0 0-.52-1.54 1.6 1.6 0 0 0-1.21-.53 1.62 1.62 0 0 0-1.26.56 2.15 2.15 0 0 0-.44 1.51zm3.71-6.97h2.33v1.67a5.81 5.81 0 0 1-.17 1.6 2.39 2.39 0 0 1-.66 1 3.4 3.4 0 0 1-1.23.73l-.46-1a2 2 0 0 0 1-.64 1.92 1.92 0 0 0 .32-1.11h-1.13zM57 51.9l2.34-.36a1.72 1.72 0 0 0 .61 1 2 2 0 0 0 1.28.35 2.31 2.31 0 0 0 1.36-.33.74.74 0 0 0 .31-.56.61.61 0 0 0-.17-.44 1.86 1.86 0 0 0-.78-.31 12.58 12.58 0 0 1-3.58-1.14 2.27 2.27 0 0 1-1-2 2.44 2.44 0 0 1 .9-1.93A4.23 4.23 0 0 1 61 45.4a4.89 4.89 0 0 1 2.69.59 3 3 0 0 1 1.21 1.74l-2.2.41a1.36 1.36 0 0 0-.54-.79 2 2 0 0 0-1.12-.27 2.54 2.54 0 0 0-1.32.26.55.55 0 0 0-.27.47.52.52 0 0 0 .23.42 8.76 8.76 0 0 0 2.18.66 6.48 6.48 0 0 1 2.6 1 2.16 2.16 0 0 1 .73 1.73 2.66 2.66 0 0 1-1 2.08 4.48 4.48 0 0 1-3 .87 4.92 4.92 0 0 1-2.85-.73A3.36 3.36 0 0 1 57 51.9zm21.88-1.96l2.38.76a5.34 5.34 0 0 1-1.82 3 5.73 5.73 0 0 1-7.21-.7 6.33 6.33 0 0 1-1.56-4.53 6.65 6.65 0 0 1 1.57-4.72A5.38 5.38 0 0 1 76.36 42 5.06 5.06 0 0 1 80 43.36a4.8 4.8 0 0 1 1.24 2.24l-2.43.58a2.51 2.51 0 0 0-2.56-2 2.77 2.77 0 0 0-2.2 1 4.76 4.76 0 0 0-.84 3.15 5.1 5.1 0 0 0 .79 3.21 2.7 2.7 0 0 0 2.16 1 2.46 2.46 0 0 0 1.68-.62 3.61 3.61 0 0 0 1.04-1.98zm3.48-.06a4.77 4.77 0 0 1 .57-2.25A3.93 3.93 0 0 1 84.55 46a4.81 4.81 0 0 1 2.34-.57 4.4 4.4 0 0 1 3.28 1.3A4.49 4.49 0 0 1 91.45 50a4.54 4.54 0 0 1-1.29 3.32 4.36 4.36 0 0 1-3.25 1.32 5.12 5.12 0 0 1-2.31-.55 3.76 3.76 0 0 1-1.67-1.61 5.35 5.35 0 0 1-.57-2.6zm2.39.12a2.92 2.92 0 0 0 .62 2 2 2 0 0 0 3.07 0 3 3 0 0 0 .62-2 2.91 2.91 0 0 0-.62-2 2 2 0 0 0-3.07 0 2.92 2.92 0 0 0-.62 2zm8.07 4.41V42.25h2.33v12.16zm4.27 0V42.25h2.33v12.16zm9.36-2.8l2.32.39a3.81 3.81 0 0 1-1.41 1.95 4.16 4.16 0 0 1-2.42.67 3.94 3.94 0 0 1-3.4-1.5 5 5 0 0 1-.87-3 4.87 4.87 0 0 1 1.15-3.43 3.77 3.77 0 0 1 2.9-1.24 3.91 3.91 0 0 1 3.1 1.3 5.75 5.75 0 0 1 1.09 4h-5.84a2.36 2.36 0 0 0 .56 1.61 1.77 1.77 0 0 0 1.34.58 1.43 1.43 0 0 0 .92-.3 1.84 1.84 0 0 0 .56-1.03zm.13-2.36a2.24 2.24 0 0 0-.52-1.54 1.6 1.6 0 0 0-1.21-.53 1.62 1.62 0 0 0-1.26.56 2.15 2.15 0 0 0-.49 1.51zM118 48.21l-2.3.41a1.67 1.67 0 0 0-.53-1 1.59 1.59 0 0 0-1.07-.35 1.74 1.74 0 0 0-1.39.6 3.08 3.08 0 0 0-.52 2 3.57 3.57 0 0 0 .53 2.22 1.73 1.73 0 0 0 1.42.65 1.57 1.57 0 0 0 1.09-.38 2.27 2.27 0 0 0 .6-1.3l2.29.39a4.06 4.06 0 0 1-1.37 2.38 4.24 4.24 0 0 1-2.71.81 4 4 0 0 1-3.04-1.25 4.73 4.73 0 0 1-1.17-3.39 4.74 4.74 0 0 1 1.15-3.4 4.1 4.1 0 0 1 3.12-1.22 4.26 4.26 0 0 1 2.56.69 3.84 3.84 0 0 1 1.34 2.14zm5.38-2.61v1.86h-1.59V51a8.85 8.85 0 0 0 0 1.26.51.51 0 0 0 .21.29.66.66 0 0 0 .39.12 3 3 0 0 0 .94-.22l.2 1.81a4.64 4.64 0 0 1-1.84.35 2.92 2.92 0 0 1-1.14-.21 1.66 1.66 0 0 1-.74-.55 2.16 2.16 0 0 1-.33-.91 11.3 11.3 0 0 1-.07-1.64v-3.84h-1.07V45.6h1.07v-1.75l2.34-1.36v3.11zm1.16-1.2v-2.15h2.33v2.15zm0 10v-8.8h2.33v8.81zm3.72-4.52a4.77 4.77 0 0 1 .57-2.25 3.93 3.93 0 0 1 1.63-1.63 4.81 4.81 0 0 1 2.34-.57 4.4 4.4 0 0 1 3.28 1.3 4.49 4.49 0 0 1 1.28 3.27 4.54 4.54 0 0 1-1.29 3.32 4.36 4.36 0 0 1-3.25 1.32 5.12 5.12 0 0 1-2.31-.55 3.76 3.76 0 0 1-1.67-1.61 5.35 5.35 0 0 1-.58-2.6zm2.39.12a2.92 2.92 0 0 0 .62 2 2 2 0 0 0 3.07 0 3 3 0 0 0 .62-2 2.91 2.91 0 0 0-.62-2 2 2 0 0 0-3.07 0 2.92 2.92 0 0 0-.62 2zm16.09 4.41h-2.33v-4.5a7 7 0 0 0-.15-1.85 1.3 1.3 0 0 0-.49-.65 1.39 1.39 0 0 0-.81-.23 1.87 1.87 0 0 0-1.09.33 1.67 1.67 0 0 0-.66.88 7.6 7.6 0 0 0-.18 2v4h-2.33V45.6h2.17v1.29a3.61 3.61 0 0 1 4.32-1.22 2.37 2.37 0 0 1 1 .71 2.57 2.57 0 0 1 .46 1 7.27 7.27 0 0 1 .13 1.57zm7.91 0l-2.9-12.17h2.51l1.83 8.36 2.22-8.36h2.92l2.13 8.5 1.87-8.5h2.47l-3 12.17h-2.61l-2.42-9.1-2.42 9.1zm14.95-6.12l-2.12-.38a3.3 3.3 0 0 1 1.24-1.91 4.49 4.49 0 0 1 2.59-.61 5.58 5.58 0 0 1 2.32.37 2.32 2.32 0 0 1 1.07.94 4.81 4.81 0 0 1 .31 2.09v2.72a9.45 9.45 0 0 0 .11 1.71 5 5 0 0 0 .42 1.18h-2.31q-.09-.23-.22-.69-.06-.21-.08-.27a4.21 4.21 0 0 1-1.28.87 3.66 3.66 0 0 1-1.45.29 3 3 0 0 1-2.15-.74 2.46 2.46 0 0 1-.78-1.87 2.51 2.51 0 0 1 .36-1.33 2.33 2.33 0 0 1 1-.9 7.81 7.81 0 0 1 1.85-.54 12.67 12.67 0 0 0 2.27-.57v-.23a1.21 1.21 0 0 0-.33-1 2 2 0 0 0-1.25-.29 1.67 1.67 0 0 0-1 .24 1.7 1.7 0 0 0-.57.92zm3.12 1.89a14.5 14.5 0 0 1-1.42.36 4.27 4.27 0 0 0-1.27.41 1 1 0 0 0-.46.82 1.14 1.14 0 0 0 .37.85 1.28 1.28 0 0 0 .93.36 2 2 0 0 0 1.2-.41 1.46 1.46 0 0 0 .56-.77 4.6 4.6 0 0 0 .09-1.14zm4.14 4.23V42.25h2.33v12.16zm9.36-2.8l2.32.39a3.81 3.81 0 0 1-1.41 1.95 4.16 4.16 0 0 1-2.42.67 3.94 3.94 0 0 1-3.4-1.5 5 5 0 0 1-.87-3 4.87 4.87 0 0 1 1.15-3.43 3.77 3.77 0 0 1 2.9-1.24 3.91 3.91 0 0 1 3.1 1.3 5.75 5.75 0 0 1 1.09 4h-5.84a2.36 2.36 0 0 0 .56 1.61 1.77 1.77 0 0 0 1.34.58 1.43 1.43 0 0 0 .92-.3 1.85 1.85 0 0 0 .56-1.03zm.13-2.36a2.24 2.24 0 0 0-.52-1.54 1.6 1.6 0 0 0-1.21-.53 1.62 1.62 0 0 0-1.26.56 2.15 2.15 0 0 0-.49 1.51zm2.94 2.65l2.34-.36a1.72 1.72 0 0 0 .61 1 2 2 0 0 0 1.28.35 2.31 2.31 0 0 0 1.36-.33.74.74 0 0 0 .31-.62.61.61 0 0 0-.17-.44 1.86 1.86 0 0 0-.78-.31 12.58 12.58 0 0 1-3.58-1.14 2.27 2.27 0 0 1-1-2 2.44 2.44 0 0 1 .9-1.93 4.23 4.23 0 0 1 2.81-.78A4.89 4.89 0 0 1 196 46a3 3 0 0 1 1.21 1.74l-2.2.41a1.36 1.36 0 0 0-.54-.79 2 2 0 0 0-1.12-.27 2.54 2.54 0 0 0-1.32.26.55.55 0 0 0-.27.47.52.52 0 0 0 .23.42 8.76 8.76 0 0 0 2.18.66 6.49 6.49 0 0 1 2.6 1 2.16 2.16 0 0 1 .73 1.73 2.66 2.66 0 0 1-1 2.08 4.48 4.48 0 0 1-3 .87 4.92 4.92 0 0 1-2.85-.73 3.36 3.36 0 0 1-1.36-1.95z"
                        fill="#808080"></path>
                    <path d="M0 0h34v8.9H0z" fill="#9d2191"></path>
                    <path d="M34 0h32.3v8.9H34z" fill="#f25b20"></path>
                    <path d="M53.2 0h7.31v8.9H53.2z" fill="#9d2191"></path>
                    <path d="M66.29 0h34.12v8.9H66.29z" fill="#f25b20"></path>
                    <path d="M87.7 0h7.31v8.9H87.7z" fill="#ffae00"></path>
                    <path d="M100.42 0h32.42v8.9h-32.42z" fill="#0095db"></path>
                    <path d="M110.77 0h4.76v8.9h-4.76z" fill="#ffae00"></path>
                    <path d="M132.84 0h32.42v8.9h-32.42z" fill="#95c11f"></path>
                    <path d="M165.26 0h33.27v8.9h-33.27zm-13.57 0h3.06v8.9h-3.06z" fill="#c51321"></path>
                </symbol>
            </symbol>
        </svg>
    </span>
    <a href="index.html" itemprop="url" class="navbar-brand">
        <svg aria-labelledby="logo-title logo-desc" class="logo__icon d-inline-block align-text-top" id="pcw-logo">
            <title id="logo-title">People's Collection Wales Logo</title>
            <desc id="logo-desc">A vector graphics of the official People's Collection Wales Logo</desc>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
        </svg>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
        <div class="row w-100" id="nav-top">
            <div class="col-8 justify-content-md-start" id="header-top-left-nav">
                <ul class="navbar-nav" id="main-nav">
                    <li class="nav-item" id="nav-about">
                        <a class="nav-link nav-active" aria-current="page" href="#">About Us</a>
                        <!-- <a class="nav-link nav-active" aria-current="page" href="#">Amdanom ni</a> -->
                    </li>
                    <li class="nav-item" id="nav-discover">
                        <a class="nav-link" href="#">The Collection</a>
                        <!-- <a class="nav-link" href="#">y Casgliad</a> -->
                    </li>
                    <li class="nav-item" id="nav-locate">
                        <a class="nav-link" href="#">Maps</a>
                        <!-- <a class="nav-link" href="#">Mapiau</a> -->
                    </li>
                    <li class="nav-item" id="nav-learn">
                        <a class="nav-link" href="#">Learn</a>
                        <!-- <a class="nav-link" href="#">Addysg</a> -->
                    </li>
                </ul>
            </div>
            <div class="col-4" id="nav-top-right">
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item top-right-nav">
                            <a class="nav-link active" aria-current="page" href="#">Cymraeg</a>
                            <!-- <a class="nav-link active" aria-current="page" href="#">Saesneg</a> -->
                        </li>
                        <li class="nav-item top-right-nav">
                            <a class="nav-link" href="#" id="sign-in-button">Sign in</a>
                            <!-- <a class="nav-link" href="#">Mewngofnodi</a> -->
                        </li>
                        <li class="nav-item top-right-nav">
                            <a class="btn btn-dark" href="#" role="button">Register</a>
                            <!-- <a class="btn btn-dark" href="#" role="button">Cofrestru</a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100" id="nav-bottom">
            <div class="col justify-content-md-start" id="header-bottom-left-breadcrumb">
                <nav aria-label="breadcrumb" id="header-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>
            <div class="col justify-content-md-end">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        id="nav-search" />
                    <button class="btn btn-secondary" type="submit" aria-label="Site Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>

</nav>