<div class="col-12 col-lg-2" id="right-sidebar" aria-label="User accounts relating to search query">
    <h2>User Accounts</h2>
    <div class="row row-cols-1">

        <div class="col discover-profile-result">
            <a href="#"><img
                    src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-3075-1666179222.png?itok=4esZttjO"
                    class="img-fluid" alt="Placeholder"></a>
            <a href="#" class="discover-profile-result-name card-title">Amgueddfa Cymru - Museum Wales</a>
        </div>

        <div class="col discover-profile-result">
            <a href="#"><img
                    src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/user_pictures/Llangollen.jpg?itok=jrTcvQq7"
                    class="img-fluid" alt="Placeholder"></a>
            <a href="#" class="discover-profile-result-name card-title">Llangollen Museum</a>
        </div>

        <div class="col discover-profile-result">
            <a href="#"><img
                    src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-1437-1408452057.jpg?itok=1fpTRNr8"
                    class="img-fluid" alt="Placeholder"></a>
            <a href="#" class="discover-profile-result-name card-title">Newport Museum & Art Gallery</a>
        </div>

        <div class="col discover-profile-result">
            <a href="#"><img
                    src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-2820-1395493807.jpg?itok=wn1dzPF5"
                    class="img-fluid" alt="Placeholder"></a>
            <a href="#" class="discover-profile-result-name card-title">Cyfarthfa Castle Museum & Art Gallery, Merthyr
                Tydfil</a>
        </div>

        <div class="col discover-profile-result">
            <a href="#"><img
                    src="https://www.peoplescollection.wales/sites/default/files/styles/user_profile_thumbnail/public/pictures/picture-7450-1461500189.jpg?itok=5TV6f5y7"
                    class="img-fluid" alt="Placeholder"></a>
            <a href="#" class="discover-profile-result-name card-title">Porthcawl museum</a>
        </div>
    </div>
</div>