<div class="card mb-3" id="contributeCreatorContainer">
    <div class="card-body">
        <div class="mb-3">
            <label for="content-creator" class="form-label fs-5">
                Original Creator
                <span class="required">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-asterisk"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1" />
                    </svg>
                </span>
            </label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="content-creator" placeholder=""
                        aria-describedby="creatorHelp">
                    <div id="creatorHelp" class="form-text">Creator of the original item, such as the name of
                        photographer, author, artist etc.</div>
                </div>
            </div>
        </div>

    </div>
</div>