<div class="card mb-3 contribute-advanced d-none">
    <div class="card-body">
        <div class="mb-3">
            <label for="content-link" class="form-label fs-5">
                Date
            </label>
            <div class="row">
                <div class="col-10 d-flex justify-content-between">
                    <div class="me-2">
                        <label for="select-year" class="form-label">Year</label>
                        <select id="select-year" class="form-select" aria-label="Select year">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="me-2">
                        <label for="select-month" class="form-label">Month</label>
                        <select id="select-month" class="form-select" aria-label="Select month">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div>
                        <label for="select-day" class="form-label">Day</label>
                        <select id="select-day" class="form-select" aria-label="Select day">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>