<div class="text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">

                {% for d in discover|slice(0, 6) %}
                <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <div class="
                                homepage-carousel-item 
                                col-xxl-3
                                col-xl-3
                                col-lg-4
                                col-md-6
                                col-sm-12
                                ">
                        <div class="card text-center w-100 discover-resulst-node">
                            <a href="#">
                                <img src="{{ d.thumb }}" class="card-img-top fixed-size-img mx-auto"
                                    alt="{{ d.title }}">
                            </a>
                            <div class="card-body discover-result-details">
                                <a class="card-title discover-result-title text-start mt-1" href="#">{{ d.title }}</a>
                                <p class="card-text discover-result-author">
                                    <a href="#">{{ d.author }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>


        </div>
    </div>
</div>