<div class="card mb-3 contribute-advanced d-none">
    <div class="card-body">
        <div class="mb-3">
            <label for="content-link" class="form-label fs-5">
                Link
            </label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="content-link"
                        placeholder="Link if your item is also on another website">
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary w-100" type="button">Cymraeg</button>
                </div>
            </div>
        </div>

        <div class="mb-3 d-none">
            <label for="welsh-title" class="form-label fs-5">Cymraeg</label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="welsh-title"
                        placeholder="Link if your item is also on another website">
                </div>
            </div>
        </div>
    </div>
</div>