<div class="card mb-3 contribute-advanced d-none">
    <div class="card-body">
        <div class="mb-3">
            <label for="contribute-english-link" class="form-label fs-5">
                Link
            </label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="contribute-english-link"
                        placeholder="Link if your item is also on another website">
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary w-100 alternative-language" type="button"
                        id="contribute-link-form-english">Cymraeg</button>
                </div>
            </div>
        </div>

        <div class="mb-3 d-none" id="contribute-link-form-welsh">
            <label for="contribute-welsh-link" class="form-label fs-5">Cymraeg</label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="contribute-welsh-link"
                        placeholder="Link if your item is also on another website">
                </div>
            </div>
        </div>
    </div>
</div>