<div class="card mb-3">
    <div class="card-body">
        <div class="mb-3">
            <label for="map" class="form-label fs-5">
                Map
            </label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="map" placeholder="">
                </div>
            </div>
        </div>

    </div>
</div>