<div class="card mb-3 contribute-advanced d-none">
    <div class="card-body">
        <div class="mb-3">
            <label for="publisher_ref" class="form-label fs-5">
                Publisher Reference
            </label>
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" id="publisher_ref" placeholder="">
                </div>
            </div>
        </div>

    </div>
</div>