<div class="card mb-3 contribute-advanced d-none">
    <div class="card-body">
        <div class="mb-3">

            <label for="my-autocomplete" class="form-label fs-5">Tags</label>
            <div id="my-autocomplete-container"></div>
        </div>

        <div class="row">
            <div class="col-10">
                <div id="creatorHelp" class="form-text">Maxium of 7 tags</div>
            </div>

            <div class="col-12 mt-2" id="contribute-tags-list"></div>
        </div>
    </div>
</div>