<div class="card mb-3" id="contributeTocContainer">
    <div class="card-body">
        <div class="mb-3">
            <h5 class="form-label fs-5">Agree to Terms <span class="required">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-asterisk"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1" />
                    </svg>
                </span></h5>
            <p>I have the right to upload this material and I have the right to allow others to use it under the
                Creative Archive Licence</p>
            <div class="row">
                <div class="col-10">
                    <input type="checkbox" class="form-check-input" id="content-toc">
                    <label for="content-toc" class="form-check-label">I agree</label>
                </div>
            </div>
        </div>
    </div>
</div>