span.required svg {
    width: 10px;
    height: 10px;
    color: red;
    position: relative;
    top: -3px;
}

.contribute-tooltip {
    cursor: pointer;
}

.contribute-facet-accordion {
    padding-left: 0;
}