span.required svg {
    width: 10px;
    height: 10px;
    color: red;
    position: relative;
    top: -3px;
}

.contribute-tooltip {
    cursor: pointer;
}

.contribute-facet-accordion {
    padding-left: 0;
}


#contribute-manage-items {
    width: 100%;
    overflow-y: scroll;
}

.contribute-manage-single-item {
    cursor: grabbing;
}

#contributeManageItemsContainerButton {
    padding-left: 0;
}

.contribute-heading {
    font-weight: 400;
}

.contribute-issue {
    border: 2px solid orange;
}

.contribute-help-issue {
    font-weight: bold;
}

.draft-item-img-fluid {
    max-width: 100%;
    max-height: auto;
}

.draft-node-title {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    color: #676666;
    text-decoration: none;
    display: block;

    @media (max-width: 767px) {
        text-align: center;
    }
}


/* styles.css */
/* styles.css */
.custom-media {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    /* Default alignment */
    // contenteditable: false;
}

.media-thumbnail {
    max-width: 100%;
    height: auto;
    display: block;
}

.edit-media-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-media-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Alignment based on data-position */
.custom-media[data-position="left"] {
    float: left;
    margin-right: 10px;
}

.custom-media[data-position="center"] {
    margin-left: auto;
    margin-right: auto;
}

.custom-media[data-position="right"] {
    float: right;
    margin-left: 10px;
}

button#add-media-button {
    width: auto;
    display: inline-block;
    position: relative;
    top: -4px;
}

#editor {
    p {
        margin: 10px 0;
    }
}