span.required svg {
    width: 10px;
    height: 10px;
    color: red;
    position: relative;
    top: -3px;
}

.contribute-tooltip {
    cursor: pointer;
}

.contribute-facet-accordion {
    padding-left: 0;
}


#contribute-manage-items {
    width: 100%;
    overflow-y: scroll;

    .list-group-item {
        cursor: grabbing;
    }
}

#contributeManageItemsContainerButton {
    padding-left: 0;
}

.contribute-heading {
    font-weight: 400;
}

.contribute-issue {
    border: 2px solid orange;
}

.contribute-help-issue {
    font-weight: bold;
}

.draft-item-img-fluid {
    max-width: 100%;
    max-height: auto;
}

.draft-node-title {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    color: #676666;
    text-decoration: none;
    display: block;

    @media (max-width: 767px) {
        text-align: center;
    }
}