.inline-button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.inline-button .close-facet {
    margin-left: 5px;
}

.facet-count {
    font-weight: 500;
}