footer {
    padding: 0 20px;
}

#mailing-list-link {
    background-color: $pcwblue;
    color: $white;
    font-weight: bold;

    &:hover {
        background-color: $pcwdarkblue;
        text-decoration: underline;
    }
}

ul#footer-social-link {
    margin-top: 10px;

    li {
        float: left;

        a {}
    }

}

.social-link {
    color: $grey;

    svg {
        height: 25px;
        width: 25px;
    }
}

img#gov-footer-logo {
    max-width: 300px;
}

#contact-us-footer-heading {
    font-size: 1.1em;
    color: $grey;
    font-weight: bold;
}

ul.footer-links {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        line-height: 2.5em;

        a {
            color: $grey;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}