.uv {
    iframe {
        height: 600px;
        width: 100%;
    }
}

.map-layer-button {
    // background-color: $pcwbuttongrey !important;
}

.item-map {
    // height: 400px;
}

.more-items {
    padding: 0 10px 10px 0 !important;
}

.map-layer-buttons {
    padding: 5px 15px 0 15px;
    cursor: pointer;
    width: 135px;
}

.historical-map-layer {
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 300;
    // font-style: oblique;

    border-bottom: 4px solid $pcwbuttongrey;

    p {
        line-height: 16px;
        padding: 0;
        margin: 5px;
    }

    .map-button-date {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .map-button-type {
        font-size: 0.8rem;
    }

}

.layer-button-active {
    border-bottom: 4px solid $pcwgreen;
}

.image-download-thumbnail {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 13rem;
    min-height: 11rem;
    max-height: 11rem;
}

@include media-breakpoint-down(xxl) {
    .uv {
        iframe {
            height: 600px;
        }
    }
}

@include media-breakpoint-down(xl) {
    .uv {
        iframe {
            height: 600px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .uv {
        iframe {
            height: 400px;
        }
    }
}

@include media-breakpoint-down(md) {
    .uv {
        iframe {
            height: 300px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .uv {
        iframe {
            height: 300px;
        }
    }
}

#map {
    height: 400px;
    width: 100%;
}