.uv {
    iframe {
        height: 600px;
        width: 100%;
    }
}

.action-button {
    background-color: $pcwbuttongrey !important;
}

.item-map {
    // height: 400px;
}

.more-items {
    padding: 0 10px 10px 0 !important;
}


@include media-breakpoint-down(xxl) {
    iframe {
        height: 600px;
    }
}

@include media-breakpoint-down(xl) {
    iframe {
        height: 600px;
    }
}

@include media-breakpoint-down(lg) {
    iframe {
        height: 400px;
    }
}

@include media-breakpoint-down(md) {
    iframe {
        height: 200px;
    }
}

@include media-breakpoint-down(sm) {
    iframe {
        height: 200px;
    }
}