.uv {
    iframe {
        height: 600px;
        width: 100%;
    }
}

.more-items {
    padding: 0 10px 10px 0 !important;
}

.layer-button-active {
    border-bottom: 4px solid $pcwgreen;
}

.image-download-thumbnail {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 13rem;
    min-height: 11rem;
    max-height: 11rem;
}

@include media-breakpoint-down(xxl) {
    .uv {
        iframe {
            height: 600px;
        }
    }
}

@include media-breakpoint-down(xl) {
    .uv {
        iframe {
            height: 600px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .uv {
        iframe {
            height: 400px;
        }
    }
}

@include media-breakpoint-down(md) {
    .uv {
        iframe {
            height: 300px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .uv {
        iframe {
            height: 300px;
        }
    }
}

#cta-container {
    margin: 0;
}

audio {
    width: 80%;
}

#audioCaptionsContainer {
    display: none;
}

#hideAudioCaptions {
    display: none;
}

.caption-container {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

#captionBox {
    height: 150px;
    padding: 10px 0;
    overflow-y: auto;
}

.caption-box-active {
    border-bottom: 1px solid #000 !important;
    background: #cdcdcd;
}

.audio-cue {
    border: 1px solid #f9f9f9;
    padding: 2px;
    margin: 2px 0;
}

.audio-transcript-time {
    font-weight: bold;
}