#main-content {
    margin-top: 10px;
    padding: 0 20px;

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
    }
}

#left-sidebar,
#center-content,
#right-sidebar {
    margin: 0;
    padding: 10px;
}

#left-sidebar {}

#center-content {}

#right-sidebar {
    border-left: 1px solid #dcdcdc;
}

.discover-filter__level-2 {
    transition: height 0.35s ease;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 15px;

    li.discover-filter__sub-item {
        list-style: none;
        position: relative;

        &::before {
            border: 1px solid #0054a8;
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
        }

        // &::after {
        //     background: url(/sites/default/themes/custom/pcw/assets/images/buttons/checked.svg);
        //     background-size: 20px 20px;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-color: #0054a8;
        // }

        a {
            text-decoration: none;
            color: $grey;
            display: block;
            padding-left: 30px;
            font-size: 0.9em;

            &:hover {
                color: $pcwblue;
            }
        }
    }
}

.discover-filter__sub-item {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.discover-filter__item {
    button {
        text-align: left;
        padding: 10px 0;
        display: block;
        width: 100%;
        text-decoration: none;
        color: $grey;
    }
}

.arrow-icon-rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s;
}

.arrow-icon {
    height: 16px;
    width: 16px;
}


#search-result-count {
    font-size: 1.5em;
    margin-left: 22px;
}


.fixed-size-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 13rem;
    min-height: 11rem;
    max-height: 11rem;
}

.fixed-size-img-alt {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 11rem;
    max-height: 11rem;
}

.discover-result-node {
    border: none;
}

.discover-result-details {
    padding: 0;
}

.discover-result-title {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    color: $grey;
    text-decoration: none;
    display: block;

    &:hover {
        color: $pcwblue;
        text-decoration: underline;
    }
}

.discover-result-author {
    font-size: 0.9em;
    text-align: left;
    margin: 0;
    display: block;
    margin: 5px 0;

    a {
        color: $grey;
        text-decoration: none;

        &:hover {
            color: $pcwblue;
            text-decoration: underline;
        }
    }
}

.discover-resulst-node {
    border: none;
}

.discover-result-type {
    font-size: 0.7em;
    text-align: left;
    color: $grey;
    margin-bottom: 5px;
}

#discover-search-result-filters {
    margin-left: 22px;
}

#pagination {
    margin: 10px 0;
}

.separator {
    border-top: 2px solid $pcworange;
    width: 20rem;
    margin: 20px 0;
}

.metadata-info-list {
    li {
        border: none;
        padding-left: 12px;
    }
}

.metadata-info-title {
    font-weight: bold;
}

.follow-user {
    position: relative;
    top: -1px;
}

#node-metadata-details {
    .item-information-heading {
        font-size: 1.3em;
    }
}

.heading-underline {
    position: relative;
    padding-bottom: 4px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $pcworange;
    }

    &::before {
        content: '';
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: $pcworange;
    }
}

.facet-button {
    background-color: $pcwblue;
    color: white;

    &:hover {
        background-color: $pcwdarkblue;
        color: white;
    }
}

.tag-button {
    background-color: $pcwpurple;
    color: white;

    &:hover {
        background-color: $pcwdarkpurple;
        color: white;
    }
}

.comment-form-label {
    font-weight: bold;
}

#uploader-details {
    margin-right: 15px;

    p {
        line-height: 0.9em;
    }
}

.tags-heading,
.facets-heading {
    font-size: 1.1em;
    font-weight: bold;
}

.item-also-appears-in-heading {
    font-size: 1.1em;
    font-weight: bold;
}

.cta-heading {
    font-weight: bold;
    font-size: 1.25rem;
}