#pcw-logo {
    width: 291px;
    height: 81px;
}

#header-nav {
    border-bottom: 3px solid $pcworange;
}

#nav-lower {
    margin: 0;
    padding: 0;
}

ul#main-nav {
    margin-left: 8px;

    li {
        padding-right: 25px;

        @media screen and (max-width: 561px) {
            padding-right: 12px;
        }

        a {
            font-size: 1.2em;
            color: $black;
            padding: 0;

            @include media-breakpoint-down(lg) {
                font-size: 1.1em;
            }
        }
    }
}

#top-nav-hamburger {
    margin-left: 5px;
}

#top-nav-links {
    li {
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width: 991px) {
    .pcw-nav-menu {
        padding: 10px 0 0 0;
    }
}

#nav-about,
#nav-discover,
#nav-learn,
#nav-upload,
#nav-locate {
    a {
        border-bottom: 8px solid $white;
        max-width: 8em;
    }
}

#nav-about {
    .nav-active {
        border-bottom: 8px solid $pcwred;
    }
}

#nav-upload {
    .nav-active {
        border-bottom: 8px solid $pcwgreen;
    }
}

#nav-discover {
    .nav-active {
        border-bottom: 8px solid $pcwlightblue;
    }
}

#nav-locate {
    .nav-active {
        border-bottom: 8px solid $pcworange;
    }
}

#nav-learn {
    .nav-active {
        border-bottom: 8px solid $pcwgreen;
    }
}

#header-breadcrumb {
    padding: 0px 0px 0px 7px;
    position: relative;
    top: 10px;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
}