#profile-banner {
    background-color: #efefef;
    margin-bottom: 20px;
    padding: 30px 10px 20px 0px;
    border: 1px solid rgb(205, 203, 203);
}

#profile-page-bio {
    padding-left: 40px;
}

#profile-weblink {
    margin-left: 25px;

    a {
        color: #0248B1;
    }
}

input#user-profile-search {
    background-color: #dcdcdc;
    border: 1px solid #c1c1c1;

    &::placeholder {
        color: #696969;
    }
}

#content-uploader,
#item-informatio-heading {
    font-size: 1.2em !important;
    font-weight: bold;
}