#profile-banner {
    background-color: #efefef;
    margin-bottom: 20px;
    padding: 30px 10px 20px 0px;
    border: 1px solid rgb(205, 203, 203);
}

#profile-page-bio {
    padding-left: 40px;
}

#profile-weblink {
    margin-left: 25px;
}