$pcwred: #cc1726;
$pcwgreen: #427301;
$pcwlightblue: #1da1f2;
$pcworange: #f25b20;
$pcwpurple: #9d2191;
$pcwyellow: #ffae00;
$pcwlightgrey: #696969;
$pcworange2: #FD6A00;
$grey: #808080;

// $breadcrumb-divider: quote(">");


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1037px,
  xl: 1200px,
  xxl: 1400px
);