$pcwred: #cc1726;
$pcwgreen: #427301;
$pcwlightblue: #1da1f2;
$pcwblue: #2570E9;
$pcwdarkblue: #0E3E8B;
$pcworange: #FBA704;
$pcwpurple: #9d2191;
$pcwdarkpurple: #78096d;
$pcwyellow: #ffae00;
$pcwlightgrey: #696969;
$pcwbuttongrey: #e4e4e4;
$pcworange2: #7b3503;
$grey: #676666;
$black: #000000;
$white: #ffffff;

// $breadcrumb-divider: quote(">");


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1037px,
  xl: 1200px,
  xxl: 1400px
);

$carousel-control-color: $white;
$carousel-control-width: 5% !default;
$carousel-control-opacity: .9;